.container_float {
  display: flex;
  justify-content: left;
  padding-left: 0%;
  padding-right: 100%;
}

/* Чуть-чуть выравниваем строки*/
.labels > label,
.inputs > input {
  display: block;
  line-height: 100%;
}
.labels > label {
  display: block;
  line-height: 190%;
}
/* input.centered {
    text-align: center; /* Стрела, центрированная в цель */
